@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-100;
}

input[type="text"],
textarea {
  @apply bg-gray-100 w-full block py-2 px-2 mb-2;
}

label.input-label {
  @apply uppercase text-gray-500 font-semibold text-sm mb-2;
}

.radio-togglers {
  @apply p-1 bg-gray-200 inline-flex border rounded-sm cursor-pointer;
}

.radio-togglers div {
  @apply p-2 px-4 text-gray-500 block flex items-center gap-2 cursor-pointer;
}

.radio-togglers input[type="radio"] {
  @apply hidden;
}

.radio-togglers input[type="radio"]:checked+div {
  @apply bg-white text-blue-600;
}

.sortable-ghost {
  opacity: .2;
}

input#navCb:checked~aside {
  left: 0;
}

input#navCb:checked~.backdrop {
  display: block;
}

@keyframes fadeInOut {

  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

.divBody {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
}

.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  height: screen;
  background: url(images/bg2.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.signinForm {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 400px;
  width: 100%;
  padding: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  text-align: center;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.banner::before {
  content: 'Markit';
  position: absolute;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 12em;
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  z-index: 1;
}

.banner::after {
  content: 'MARKIT';
  position: absolute;
  inset: 0;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 12em;
  color: #fff;
  -webkit-text-stroke: 1px #fff;
  z-index: 2;
  clip-path: circle(0px at var(--x) var(--y));
  transition: clip-path 0.1s;
  background: url(images/bg.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

.banner:hover::after {
  clip-path: circle(150px at var(--x) var(--y));
  opacity: 1;
}

h1::selection {
  color: cyan;
}

p::selection {
  color: yellow;
}

h2::selection {
  color: #222;
  background-color: cyan;
}

.userBody {
  background: url("https://images.pexels.com/photos/1323550/pexels-photo-1323550.jpeg?auto=compress&cs=tinysrgb&w=600") no-repeat;
  background-size: cover;
  background-position: center;
}



.unForm {
  backdrop-filter: blur(12px);
  width: 90%;
  max-width: 500px;
  height: auto;
  margin: 80px auto;
  padding: 15px 5px;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  box-sizing: border-box;
}

@media (min-width: 640px) {
  .unForm {
    width: 75%;
    padding: 30px 20px;
  }
}

@media (min-width: 1024px) {
  .unForm {
    width: 50%;
    padding: 40px 30px;
  }
}